@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/press-start-2p-v14-latin_greek_cyrillic-regular.eot');
  src: local(''),
       url('/fonts/press-start-2p-v14-latin_greek_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/press-start-2p-v14-latin_greek_cyrillic-regular.woff2') format('woff2'),
       url('/fonts/press-start-2p-v14-latin_greek_cyrillic-regular.woff') format('woff'), 
       url('/fonts/press-start-2p-v14-latin_greek_cyrillic-regular.ttf') format('truetype'), 
       url('/fonts/press-start-2p-v14-latin_greek_cyrillic-regular.svg#PressStart2P') format('svg'); 
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F2F2F2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  /* font-family: "Press Start 2P"; */
  
}

*::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
